####################################
• Читання графу з файлу — функцiя, яка вмiє прочитати файл i записати данi у вiдповiдну структуру. Формат файлу — csv, перша колонка мiстить першi вершини кожного ребра, друга — другi вершини (порядок вершин не грає ролi у випадку неорiєнтованого графу, i є важливим, коли граф орiєнтований).
• Запис графу в файл — функцiя, яка записує граф у файл (структура файлу описана вище).

######################################
• Пошук компонент зв’язностi — повинен знаходити всi компоненти зв’язностi неорiєнтованого графу i повертати список компонент зв’язностi (вважаємо, що компонента iдентифiкується вершиною найменшого номера, який їй належить).

######################################
• Аналогiчна функцiя пошуку компонент сильної зв’язностi для орiєнтованого графу.

######################################
• Пошук точок сполучення — знаходить усi точки сполучення неорiєнтованого графу (повертає список вершин).

######################################
• Пошук мостiв — знаходить усi мости неорiєнтованого графу (повертає список ребер, 
